extends ../../../templates/layout.jade

block body
  div.m-passenger-information(data-ng-controller="PaymentController")
    .l-messages(data-ng-cloak)
      .m-message(data-ng-repeat="message in ui.messages"
        data-ng-class="{error: message.type == 'error'}")
        i
        p {{message.content}}
    section(ng-show="!ui.showPaymentInformation")
      h2
        | {{'LABEL_REVIEW_YOUR_ITINERARY_AND_PRICE' | translate}}
      div
        header.title
          h4.title-text
        .content(data-ng-repeat="location in ui.locations")
          div.m-header(data-ng-if="ui.user_input_journey_type=='Multi City'" ng-cloak)
            strong {{$index + 1}}
            span
              | {{location.extra_info.geo.origin_city_name}}
              | ({{location.user_input_origin_airport_code}})
              | - {{location.extra_info.geo.destination_city_name}}
              | ({{location.user_input_destination_airport_code}})
          .m-itinerary-summary(data-ng-class="{'itinerary-summary--no-dividers': ui.user_input_journey_type=='Round Trip'}" ng-cloak)
            .itinerary-summary-flight.itinerary-summary-flight--departure(
              data-ng-repeat="flight in location.departure.dates[0].flights"
            )
              .title
                .title-text.title-text--primary(data-ng-if="ui.user_input_journey_type != 'Multi City'")
                  | {{ 'LABEL_FLIGHT_OUTBOUND' | translate }}
                div(class="title-text title-text--fareclass pull-right {{location.departure.availableClasses[0].cssClass}}")
                  | {{flight.info.classes[0].name}}
                  span.text--linkify(data-ng-click="flight.info.classes[0].sellingClass.onclick();ui.sellingClass.isDeparture=false")
                    | ({{flight.info.classes[0].sellingClass.text}})
              .flight-list-title
                  | {{location.departure.dates[0].date | date:'MMMM d, y'}}
              div(data-ng-repeat="flightItem in flight")
                .flight-list(data-ng-repeat="flight_list_item in flightItem.flight_list")
                  .flight
                    .l-flight-detail
                      .flight-detail.flight-detail--origin
                        span.location
                          | {{flight_list_item.origin_airport_code}}
                        span.time(data-ng-if="flight_list_item.departure_time.length > 0")
                          |  {{flight_list_item.departure_time | simpledate}}
                          sup(
                            data-ng-repeat="dec in flight_list_item.disclaimer"
                            data-ng-if="dec.field == 'departure_time'")
                            | {{location.disclaimer_mapping[dec.id].symbol}}
                      i.flight-direction
                     
                      .flight-detail.flight-detail--destination
                        span.location
                          | {{flight_list_item.destination_airport_code}}
                        span.time(data-ng-if="flight_list_item.arrival_time.length > 0")
                          |  {{flight_list_item.arrival_time | simpledate}}
                          sup(
                            data-ng-repeat="dec in flight_list_item.disclaimer"
                            data-ng-if="dec.field == 'arrival_time'")
                            | {{location.disclaimer_mapping[dec.id].symbol}}
                    .flight-number.text-primary(
                      data-ng-if="flight_list_item.number.length > 0"
                      data-ng-click="flight_list_item.onclick()"
                    )
                      | {{flight_list_item.number}}
                  .declaimer(data-ng-repeat="dec in flight_list_item.disclaimer | unique: 'id'")
                    | {{ui.disclaimer_mapping[dec.id].text}}
                  br
            .itinerary-summary-flight.itinerary-summary-flight--return(
              data-ng-repeat="flight in location.return.dates[0].flights"
            )
              .title
                .title-text.title-text--primary(data-ng-if="ui.user_input_journey_type=='Round Trip'")
                  | {{ 'LABEL_FLIGHT_INBOUND' | translate }}
                div(class="title-text title-text--fareclass pull-right {{location.return.availableClasses[0].cssClass}}")
                  | {{flight.info.classes[0].name}}
                  span.text--linkify(data-ng-click="flight.info.classes[0].sellingClass.onclick();ui.sellingClass.isDeparture=true")
                    | ({{flight.info.classes[0].sellingClass.text}})
              .flight-list-title
                  | {{location.return.dates[0].date | date:'MMMM d, y'}}
              div(data-ng-repeat="flightItem in flight")
                .flight-list(data-ng-repeat="flight_list_item in flightItem.flight_list")
                  .flight
                    .l-flight-detail
                      .flight-detail.flight-detail--origin
                        span.location
                          | {{flight_list_item.origin_airport_code}}
                        span.time(data-ng-if="flight_list_item.departure_time.length > 0")
                          |  {{flight_list_item.departure_time | simpledate}}
                          sup(
                            data-ng-repeat="dec in flight_list_item.disclaimer"
                            data-ng-if="dec.field == 'departure_time'")
                            | {{location.disclaimer_mapping[dec.id].symbol}}
                      i.flight-direction
                      
                      .flight-detail.flight-detail--destination
                        span.location
                          | {{flight_list_item.destination_airport_code}}
                        span.time(data-ng-if="flight_list_item.arrival_time.length > 0")
                          |  {{flight_list_item.arrival_time | simpledate}}
                          sup(
                            data-ng-repeat="dec in flight_list_item.disclaimer"
                            data-ng-if="dec.field == 'arrival_time'")
                            | {{location.disclaimer_mapping[dec.id].symbol}}
                    .flight-number.text-primary(
                      data-ng-if="flight_list_item.number.length > 0"
                      data-ng-click="flight_list_item.onclick()"
                    )
                      | {{flight_list_item.number}}
                      sup(
                        data-ng-repeat="dec in flight_list_item.disclaimer"
                        data-ng-if="dec.field == 'flight_number'")
                        | {{ui.disclaimer_mapping[dec.id].symbol}}
                  .declaimer(data-ng-repeat="dec in flight_list_item.disclaimer | unique: 'id'")
                    | {{ui.disclaimer_mapping[dec.id].text}}
                  br
            include ../../../templates/partials/sellingClassDialog.jade
            include ../../../templates/partials/flightDetailsDialog.jade

    div(data-bs-itinerary-pricing-card-per-passenger data-ui="ui" data-ng-show="!ui.showPaymentInformation")
    bs-total-price-summary-component(data-ng-show="!ui.showPaymentInformation")

    //- bs-detail-seats-prices-component(data-ng-show="!ui.showPaymentInformation")
    //- bs-summary-seats-prices-component

    section(data-ng-cloak ng-show="!ui.showPaymentInformation")
      h3  {{'LABEL_PASSENGERS' | translate}}
      .m-card.m-card--flat.m-card--bordered
        .content.content--small-vertical-padding(data-ng-repeat="passenger in ui.passengers_info")
          p
            strong
              | {{passenger.name}}
            span.pull-right
              | {{passenger.type}}
            p
              small(data-ng-if="passenger.birthdate")
                | ( {{passenger.birthdate}} )
              small.pull-right(data-ng-if="passenger.frequent_flyer_number != '-'")
                | {{passenger.frequent_flyer_number}}
    section(ng-show="!ui.showPaymentInformation")
      div.m-card.m-card--muted(ng-cloak)
        header.title
          h4.title-text
            i.title-icon
            | {{ui.static_messages.reviewItineraryDisclaimer.head}}
        div.content
          span
            | {{ui.static_messages.reviewItineraryDisclaimer.content}}
    .l-action(ng-show="ui.showContinueButton && !ui.showPaymentInformation")
      button(type="button" data-ng-click='acceptInformationContinueAction()')
        | {{'LABEL_CONTINUE' | translate}}
    section(ng-show="ui.showPaymentInformation")
      h2
        | {{'LABEL_BILLING_INFO' | translate}}
      div.m-card.m-card--muted(ng-cloak)
        header.title
          h4.title-text
            i.title-icon
            | {{'LABEL_IMPORTANT' | translate}}
        div.content
          span(ng-bind-html="ui.static_messages.fbBillingInfoMessage.content | sanitize")
      div.m-card.m-card--muted(ng-cloak data-ng-if="ui.card_images && !ui.states.showBlockPayments")
        div.content
          span(ng-bind-html="ui.card_images | sanitize")

      bs-multiple-payment-selector-component(
        data-states="ui.states"
        data-update-states="ui.updateStates(states)"
      )
      bs-payment-pse-component(
        data-ng-if="ui.states.pse"
        data-states="ui.states"
        data-update-states="ui.updateStates(states)"
        data-ui="ui"
      )
      bs-payment-bank-transfers-component(
        data-ng-if="ui.states.bankTransfers"
        data-states="ui.states"
        data-update-states="ui.updateStates(states)"
        data-ui="ui"
      )
      bs-payment-bank-slip-component(
        data-ng-if="ui.states.bankSlip"
        data-states="ui.states"
        data-update-states="ui.updateStates(states)"
        data-ui="ui"
      )

      div.m-card(data-ng-show="ui.states.cc")
        header.title
          h4.title-text
            | {{'LABEL_CARD_INFO' | translate}}
        div.content
         .form-group.md(data-ng-class="{'show-field-error': ui.partialErrors.cardType }" data-ng-show="ui.isCreditCardsSaved")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CARD_SAVED' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.saved_card_select"
                data-ng-change="ui.payment.setSavedCardsList(ui.payment.saved_card_select)"
                data-ng-options="option.name for option in ui.payment.savedCards track by option.value")
          .form-group.md(data-ng-class="{'show-field-error': ui.partialErrors.cardType }" data-ng-show="!ui.isCreditCardsSaved")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CARD_TYPE' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.cardType"
                data-ng-change="ui.payment.setCardType(ui.payment.cardType)"
                data-ng-options="option.name for option in ui.payment.cardTypes track by option.value")
              span.text-message
                | {{ ui.partialErrors.cardType }}
          .form-group.md(
            data-ng-if="ui.payment.cardType.value !== ''"
            data-ng-class="{'show-field-error': ui.partialErrors.cardCountry }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CARD_ISSUING_COUNTRY' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.cardCountry"
                data-ng-change="ui.payment.setCardCountry(ui.payment.cardCountry.value)"
                data-ng-options="option.name for option in ui.payment.cardIssuingCountries track by option.value")
                span.text-message
                  | {{ ui.partialErrors.cardCountry }}
          .form-group.md(
            data-ng-if="ui.payment.cardType.value !== ''"
            data-ng-class="{'show-field-error': ui.partialErrors.cardCurrency }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CARD_CURRENCY' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-disabled="ui.payment.cardCountry.value === ''"
                data-ng-model="ui.payment.cardCurrency"
                data-ng-change="ui.payment.setCardCurrency(ui.payment.cardCurrency.value)"
                data-ng-options="option.name for option in ui.payment.cardCurrencies track by option.value")
                span.text-message
                  | {{ ui.partialErrors.cardCurrency }}
              p.input-bottom-label.currency-equivalent-total(ng-if="ui.payment.cardCurrency.equivTotalText" ng-bind-html="ui.payment.cardCurrency.equivTotalText | sanitize")
          .form-group.md(
            data-ng-if="ui.payment.isInstallmentsVisible"
            data-ng-class="{'show-field-error': ui.partialErrors.installments }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_INSTALLMENTS' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.installments"
                data-ng-change="ui.payment.setInstallments(ui.payment.installments.value)"
                data-ng-options="option.name for option in ui.payment.installmentsOptions track by option.value")
                span.text-message
                  | {{ ui.partialErrors.installments }}
          .form-group.md(data-ng-show="!ui.isCreditCardsSaved"
            data-ng-class="{'show-field-error': ui.partialErrors.cardHolderName }")
            label.col-sm-2.control-label.field-required
              |  {{'LABEL_CARDHOLDER_NAME' | translate}}
            .col-sm-10
              input.md.form-control(type='text' placeholder='Cardholders Name'
                data-ng-model="ui.payment.cardHolderName"
                data-ng-change="ui.payment.setCardHolderName(ui.payment.cardHolderName)")
              span.text-message
                | {{ ui.partialErrors.cardHolderName }}
          .form-group.md( data-ng-hide="ui.isCreditCardsSaved"
            data-ng-class="{'show-field-error': ui.partialErrors.cardNumber }"
            class="js-card-number")
            label.col-sm-2.control-label.field-required
              |  {{'LABEL_CARD_NUMBER' | translate}}
            .col-sm-10()
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.cardNumber"
                data-ng-readonly="ui.isCreditCardsSaved"
                data-ng-change="ui.payment.setCardNumber(ui.payment.cardNumber)"
                data-ng-focus="focusToCardNumberIframe()")
              span.text-message
                | {{ ui.partialErrors.cardNumber }}
          .form-group.md.col-sm-3.inline-select(data-ng-show="!ui.isCreditCardsSaved"
            data-ng-class="{'show-field-error': ui.partialErrors.edExpirationMonth || ui.partialErrors.edExpirationYear}")
              label.field-required
                | {{'LABEL_EXPIATION_DATE' | translate}}
              br
              select.md.form-control(
                data-ng-model="ui.payment.edExpirationMonth"
                data-ng-change="ui.payment.setEdExpirationMonth(ui.payment.edExpirationMonth)"
                data-ng-options="option.name for option in ui.payment.expirationDatesMonth track by option.value")
              select.md.form-control(
                data-ng-model="ui.payment.edExpirationYear"
                data-ng-change="ui.payment.setEdExpirationYear(ui.payment.edExpirationYear)"
                data-ng-options="option.name for option in ui.payment.expirationDatesYear track by option.value")
              span.text-message(data-ng-if="ui.partialErrors.edExpirationMonth")
                | {{ ui.partialErrors.edExpirationMonth }}
              span.text-message(data-ng-if="ui.partialErrors.edExpirationYear")
                | {{ ui.partialErrors.edExpirationYear }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.documentNumber }"
            data-ng-if="ui.payment.isDocumentNumberVisible")
            label.col-sm-2.control-label.control-label--block.field-required
              | {{'LABEL_DOCUMENT_NUMBER' | translate}}
            .col-sm-3
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.documentNumber"
                data-ng-change="ui.payment.setDocumentNumber(ui.payment.documentNumber)")
              span.text-message
                | {{ ui.partialErrors.documentNumber }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.documentId }"
            data-ng-if="ui.payment.isDocumentIdVisible")
            label.col-sm-2.control-label.control-label--block.field-required
              | {{'LABEL_DOCUMENT_ID' | translate}}
            .col-sm-3
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.documentId"
                data-ng-change="ui.payment.setDocumentId(ui.payment.documentId)")
              span.text-message
                | {{ ui.partialErrors.documentId }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.securityCode }"
            class="js-security-code")
            label.col-sm-2.control-label.control-label--block.field-required
              | {{'LABEL_SECURITY_CODE' | translate}}
            .col-sm-3
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.securityCode"
                data-ng-change="ui.payment.setSecurityCode(ui.payment.securityCode)"
                data-ng-focus="focusToSecurityCodeIframe()")
              span.text-message
                | {{ ui.partialErrors.securityCode }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.cardHolderPhoneNumber || ui.partialErrors.cardHolderPhoneCode }")
            label.col-sm-2.control-label.control-label--block.field-required
              | {{'LABEL_CARDHOLDER_PHONE' | translate}}
            .col-sm-3.phone-country-code
              input.md.form-control(type='tel' placeholder=''
                data-ng-model="ui.payment.cardHolderPhoneCode"
                data-ng-change="ui.payment.setCardHolderPhoneCode(ui.payment.cardHolderPhoneCode)")
            .col-sm-9.phone-number
              input.md.form-control(type='tel' placeholder=''
                data-ng-model="ui.payment.cardHolderPhoneNumber"
                data-ng-change="ui.payment.setCardHolderPhoneNumber(ui.payment.cardHolderPhoneNumber)")
            span.text-message
              | {{ ui.partialErrors.cardHolderPhoneCode }}
            span.text-message
              | {{ ui.partialErrors.cardHolderPhoneNumber }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.cardHolderEmail }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CARDHOLDER_EMAIL' | translate}}
            .col-sm-10
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.cardHolderEmail"
                data-ng-change="ui.payment.setCardHolderEmail(ui.payment.cardHolderEmail)")
              span.text-message
                | {{ ui.partialErrors.cardHolderEmail }}
          .form-group.md(data-ng-if='ui.userIfLogged' data-ng-show="!ui.isCreditCardsSaved")
            .col-sm-10
              input.inline-checkbox(
                type='checkbox'
                data-ng-model="ui.agreements.saveCreditCard"
                data-ng-checked="ui.agreements.checkBoxCreditCardStatus"
                data-ng-change="ui.agreements.checkedSaveCreditCard()")
              label.inline-label(ng-bind-html="ui.static_messages.saveCreditCardLabel.content | sanitize")
          .form-group.md(data-ng-if="ui.ifExistEditOption")
            .col-sm-12
              p.inline-links-container()
                a(href='#', data-ng-click="addNewPaymentMode()" class="pull-left" data-ng-if="ui.isCreditCardsSaved") {{'LABEL_ADD_OPTION' | translate}}
                a(href='#', data-ng-click="ui.returnFromEditableMode()" class="pull-left" data-ng-if="!ui.isCreditCardsSaved") {{'LABEL_RETURN_OPTION' | translate}}
                a(href='#', data-ng-click="ui.editableMode()" class="pull-left" data-ng-if="ui.isCreditCardsSaved") {{'LABEL_EDIT_OPTION' | translate}}
                a(href='#', class="pull-right" onclick="showDeleteCardPopup();return false;") {{'LABEL_DELETE_OPTION' | translate}}

      div.m-card(data-ng-show="!ui.isCreditCardsSaved && ui.states.cc")
        header.title
          h4.title-text
            | {{'LABEL_BILLING_ADDRESS' | translate}}
        div.content
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.baAddressLine1 }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_ADDRESS_LINE_1' | translate}}
            .col-sm-10
              input.md.form-control(type='text' placeholder=''
                data-ng-model="ui.payment.baAddressLine1"
                data-ng-change="ui.payment.setBaAddressLine1(ui.payment.baAddressLine1)")
              span.text-message
                | {{ ui.partialErrors.baAddressLine1 }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.baAddressLine2 }")
            label.col-sm-2.control-label
              | {{'LABEL_ADDRESS_LINE_2' | translate}}
            .col-sm-10
              input.md.form-control(type='text'
                data-ng-model="ui.payment.baAddressLine2"
                data-ng-change="ui.payment.setBaAddressLine2(ui.payment.baAddressLine2)")
              span.text-message
                | {{ ui.partialErrors.baAddressLine2 }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.baCity }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_CITY' | translate}}
            .col-sm-10
              input.md.form-control(type='text' placeholder=""
                data-ng-model="ui.payment.baCity"
                data-ng-change="ui.payment.setBaCity(ui.payment.baCity)")
              span.text-message
                | {{ ui.partialErrors.baCity }}
          .form-group.md(
            data-ng-class="{'show-field-error': ui.partialErrors.baCountry }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_COUNTRY' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.baCountry"
                data-ng-change="ui.payment.setBaCountry(ui.payment.baCountry)"
                data-ng-options="option.name for option in ui.payment.countries track by option.value"
                )
              span.text-message
                | {{ ui.partialErrors.baCountry }}
          .form-group.md(data-ng-if="ui.count_options() > 1"
            data-ng-class="{'show-field-error': ui.partialErrors.baStateDisplay }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_STATE' | translate}}
            .col-sm-10
              select.md.form-control(
                data-ng-model="ui.payment.baStateDisplay"
                data-ng-change="ui.payment.setBaStateDisplay(ui.payment.baStateDisplay)"
                data-ng-options="option.name for option in ui.payment.states track by option.value")
              span.text-message
                | {{ ui.partialErrors.baStateDisplay }}
          .form-group.md(data-ng-if="ui.payment.baStateDisplay.value !== ''"
            data-ng-class="{'show-field-error': ui.partialErrors.baPostalCode }")
            label.col-sm-2.control-label.field-required
              | {{'LABEL_POSTAL_ZIP_CODE' | translate}}
            .col-sm-10
              input.md.form-control(data-ng-disabled="ui.payment.baStateDisplay === ''" type='text' placeholder=''
                data-ng-model="ui.payment.baPostalCode"
                data-ng-change="ui.payment.setBaPostalCode(ui.payment.baPostalCode)")
              span.text-message
                | {{ ui.partialErrors.baPostalCode }}

    section(ng-show="ui.showPaymentInformation")
      h2
        | {{'LABEL_TERM_CONDITION' | translate}}
      div.m-card.m-card--muted(ng-cloak)
        header.title
          h4.title-text
            i.title-icon
            | {{'LABEL_IMPORTANT' | translate}}
        div.content
          span(ng-bind-html="ui.static_messages.tbTermsConditionsMessage.content | sanitize")
      div.m-card
        div.content
          div.agreement-container(data-ng-class="{'show-field-error': ui.partialErrors.termsConditions }")
            input.inline-checkbox(
              type='checkbox'
              data-ng-model="ui.agreements.termsConditions"
              data-ng-change="ui.agreements.acceptTermsAndConditions()")
            label.inline-label(ng-bind-html="ui.static_messages.tbTermsConditionsLabel.content | sanitize")
            div
              span.text-message
                | {{ ui.partialErrors.termsConditions }}

    section(ng-show="ui.showPaymentInformation")
      h2
        | {{'LABEL_RESTRICTED_ITEMS' | translate}}
      div.m-card.m-card--muted(ng-cloak)
        header.title
          h4.title-text
            i.title-icon
            | {{'LABEL_IMPORTANT' | translate}}
        div.content
          span(ng-bind-html="ui.static_messages.hazardousMaterialsAgreementMessage.content | sanitize")
      div.m-card
        .content
          .form-group.md.agreement-container(
            data-ng-class="{'show-field-error': ui.partialErrors.hazardousMaterials }")
            input.inline-checkbox(
              type='checkbox'
              data-ng-model="ui.agreements.hazardousMaterials"
              data-ng-change="ui.agreements.acceptHazardousMaterials()")
            label.inline-label(ng-bind-html="ui.static_messages.hazardousMaterialsAgreementLabel.content | sanitize")
            .col-sm-10
              span.text-message
                | {{ ui.partialErrors.hazardousMaterials }}
    div(bs-card-ref-id)
    .l-action(ng-show="ui.showContinueButton && ui.showPaymentInformation")
      button(type="button" data-ng-click='continueButtonAction()')
        | {{'LABEL_PURCHASE' | translate}}
