#booksmart
  div.l-book-smart
    div.m-book-smart(data-ng-controller="AppController")
      block header
        nav.m-top-bar.brand-bar
          a(rel="nofollow",class="logo",href="https://www.copaair.com/")
            img.logo--image( src="//@@HOST/app/modules/bsmart-cm-ibe/assets/images/logo.png", alt="Logo")
          i.menu
        div.m-sidebar-menu
          div.accordion
            a.accordion-item-title-without-icon(href="https://www.copaair.com/")
              | {{ 'LABEL_HOME' | translate }}
          div.accordion
            a.accordion-item-title-without-icon(href="/CMGS/ReservationSearch.do")
              | {{ 'LABEL_MMB' | translate }}
          div.accordion(data-ng-if="main.isLoginAvailable")
            h3.accordion-item-title(data-ng-click="main.openLoginDialog()")
              | {{ main.loginLabel }}
          div.accordion
            h3.accordion-item-title(data-ng-click="")
              | {{ 'LABEL_LANGUAGE' | translate }} ({{main.languageOptions[main.language].name}})
              i.icon-action
            div.accordion-item-content
              select(data-ng-model='main.language'
                data-ng-change='main.onChangeLanguage()'
                data-ng-options='key as value.name for (key, value) in main.languageOptions')
          div.accordion
            a.accordion-item-title-without-icon(href="http://www.copaair.com/sites/cc/en/informacion-de-viaje/pages/condiciones-generales-de-equipaje.aspx" target="_blank")
              | {{ 'LABEL_BAGAGGE_POLICE' | translate }}
          div.accordion
            a.accordion-item-title-without-icon(href="https://www.copaair.com/sites/cc/en/informacion-de-viaje/pages/cargo-equipaje-socios-codigo-compartido.aspx" target="_blank")
              | {{ 'LABEL_PARTNER_BAGAGGE_POLICE' | translate }}
          div.accordion
            a.accordion-item-title(href="{{main.menuItems.privacyPolicy.link}}" target="_blank")
              | {{ main.menuItems.privacyPolicy.label }}
              i.icon-action
          div.accordion
            h3.accordion-item-title(data-ng-click="loadDesktopVersionAction()")
              | {{ 'LABEL_DESKTOP_VERSION' | translate }}
              i.icon-action
        div.m-sidebar-menu-wrapper
        div.l-mini-summary(ng-cloak)
          div.l-mini-summary-top(ng-if="showMiniSummary")
            span {{main.miniSummary.location[0].user_input_origin_airport_code}}
            i.direction-going
            span {{main.miniSummary.location[0].user_input_destination_airport_code}}
            span.journey-type(data-ng-if="main.miniSummary.user_input_journey_type === 'Round Trip'")
              | {{ 'LABEL_ROUND_TRIP' | translate }}
            span.journey-type(data-ng-if="main.miniSummary.user_input_journey_type === 'One Way'")
              | {{ 'LABEL_ONE_WAY' | translate }}
            span.journey-type(data-ng-if="main.miniSummary.user_input_journey_type === 'Multi City'")
              | {{ 'LABEL_MULTI_CITY' | translate }}
          div.l-mini-summary-bottom(ng-if="showMiniSummary")
            span
              |{{main.miniSummary.departure[0].user_input_date| date:'MMMM d'}}
            span(ng-if="main.miniSummary.return[0]")
              |  - {{main.miniSummary.return[0].user_input_date| date:'MMMM d'}}
            span(ng-if="main.miniSummary.user_input_journey_type == 'Multi City'")
              |  - {{main.miniSummary.departure[main.miniSummary.departure.length - 1].user_input_date| date:'MMMM d'}}
            span
              |  | {{main.miniSummary.count_passengers}}
            i.passengers
          div.price(ng-if="showMiniSummary && showMiniSummaryPrice") {{main.miniSummary.total_price.currency_code}} {{ (main.miniSummary.total_price.cash) | number:2 }}
          div.message(ng-if="!showMiniSummary")
            i.icon--checked
            | {{ 'LABEL_BOOK_YOUR_TRIP' | translate }}
          div.currency(ng-if="showMiniSummary && !showMiniSummaryPrice && main.selectedChooseCurrency  && main.chooseCurrency.length > 0")
            select.select--safari-friendly--white(
              data-ng-model="main.selectedChooseCurrency"
              data-ng-change="main.onChangeChooseCurrency(main.selectedChooseCurrency)"
              data-ng-options="option.shortName  for option in main.chooseCurrency track by option.value"
              )
        ul.l-stepper(ng-if="showMiniSummary")
          li(ng-repeat="step in stepper.steps" ng-class="{'active': step.state == 'active', 'done': step.state == 'done'}")
        section.m-card.login(ng-if="main.user")
            .content
              p
                | {{ 'LABEL_WELCOME' | translate }},
                strong
                  |  {{main.user.username}}
                |  {{main.user.connectMilesNumber}}

      .l-body
        block body
          p(ng-cloak)
            | {{ 'LABEL_GENERIC_BODY' | translate }}
      block footer
      footer
        img.logo--image( src="//@@HOST/app/modules/bsmart-cm-ibe/assets/images/star-alliance.png", alt="Logo")
